<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="emp.quezy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.sensor.proximity"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.Main"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".other.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".quiz.SelectQuiz"
            android:screenOrientation="portrait"/>
        <activity android:name=".quiz.PlayQuiz"
            android:screenOrientation="portrait"/>
        <activity android:name=".settings.Settings" />
        <activity android:name=".settings.VoiceControl" />
        <activity android:name=".settings.SoundControl" />
        <activity android:name=".info.Info" />
        <activity
            android:name=".info.RecentCommands"
            android:label="@string/title_activity_recent_commands"
            android:theme="@style/AppTheme" />
        <activity android:name=".quiz.GetQuestions" />
        <activity android:name=".quiz.EndScreen"
            android:screenOrientation="portrait"/>
        <activity android:name=".info.HighScores"
            android:screenOrientation="portrait"/>
    </application>

</manifest>